{% extends 'main/layout.html' %}

{% block content %}

<div class="Add-Company">
    <h1>Регистрация новой компании</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for field in form %}
        <div class="Add-Company-form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>
        <div class="form-error">{{ field.errors }}</div>
        {% endfor %}
        <div class="Add-Company-form-actions">
            <button type="submit">Сохранить изменения</button>
        </div>
    </form>
</div>

{% endblock %}
