{% extends 'main/layout.html' %}
{% load reviewtags %}
{% block title %}IT-SHARING | Редактирование {{ company.title }}{% endblock %}

{% block content %}
<body>
    <div class="container-profile-info">
        <h1>Кабинет компании</h1>
        <br>
        <div class="profile-info">
            <label>Название компании:</label>
            <p>{{ company.title }}</p>
        </div>
        <div class="profile-info">
            <label>Описание:</label>
            <p>{{ company.content }}</p>
        </div>
        <div class="profile-info">
            <label>Рейтинг:</label>
            <p>{{ company.raiting }}</p>
        </div>
        <div class="profile-info">
            <label>Категории:</label>
            <ul>
                {% for category in company.cat.all %}
                    <li>{{ category.name }}</li>
                {% empty %}
                    <li>Нет категорий</li>
                {% endfor %}
            </ul>
        
        
        </div>
    <div><i> {{ company.photo }}</i> </div>
    {% if user.is_authenticated and user.company != company %}
        
    <div class="profile-actions">        
    <a href="{% url 'create_order' company.id %}">
                <div class="edit-profile">Составить заказ</div>
            </a>
    </div>
    {% endif %}
        {% if user.is_authenticated and user.company == company %}
        <div class="profile-actions">  
    <a href="{% url 'see_orders' company.id %}">
        <div class="edit-profile">Посмотреть Заказы</div>
    </a>
    </div>
{% endif %}
        
     {% if user.is_authenticated  and user.is_company and user.company == company or user.is_superuser%}
        <div class="profile-actions">

            <a href="{% url 'edit_company' company.id %}">
                <div class="edit-profile">Редактировать компанию</div>
            </a>
        </div>
        {% endif %}
    </div>

    {% if user.is_authenticated and user.company != company %}
    <div class="container-profile-info">
        <h1>Оставить отзыв</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="news-create-btn">
            <button type="submit">Отправить</button></div>
        </form>
    </div>
    {% endif %}


    {% for review in reviews %}
    <div class="review-container">
    <div class="review-header">
        <h3 class="review-username">{{ review.user.username }}</h3>
        <span class="review-date">{{ review.created_at|date:"d M Y" }}</span>
    </div>
    <div class="review-content">
        <p>{{ review.content }}</p>
    </div>

</div>
{%endfor %}

</body>
{% endblock %}