{% extends 'main/layout.html' %}

{% block title %}Список компаний{% endblock %}

{% block content %}
<div class="companies-container-filter">
    <form method="get" class="filter-form">
        {{ form.as_p }}
        <button type="submit" class="edit-profile">Применить фильтр</button>
    </form>
</div>
<div class="companies-container">
    <h1>Список компаний</h1>
    {% if companies %}
        {% for company in companies %}
        <a href="{% url 'company_detail' company.id %}">
            <div class="company-page-list">
                <h1>{{ company.title }}</h1>
                <p>{{ company.content|truncatechars:100 }}</p>
                <p>Рейтинг: {{ company.raiting }}</p>
            </div>
        </a>
        {% endfor %}
    {% else %}
        <h1>Компаний пока нет.</h1>
    {% endif %}
</div>
{% endblock %}
