{% extends 'main/layout.html' %}

{% block content %}
<div class="Add-Company">
  <h1>Составление заказа</h1>
  <form method="POST">
      {% csrf_token %}
      <div class="Add-Company-form-group">
        {{ form.description }}
          {{ form.dead_line }}
      </div>
      <div class="form-error">{{ form.errors }}</div>
      <div class="Add-Company-form-actions">
          <button type="submit">Сохранить изменения</button>
      </div>
  </form>
</div>
{#{{ form.description }} form-это форма заполнения а вот description одна из fied'ов#}
{% endblock %}
