{% extends 'main/layout.html' %}

{% block title %}IT-SHARING | Главная{% endblock %}

{% block content %}
<div class="main-page-container">
  <div class="banner-content">
  <p>
      Добро пожаловать на <strong>IT-Sharing</strong> — крупнейший агрегатор IT-компаний, созданный для того, чтобы объединить бизнес и технологии в одном месте. Мы собираем информацию о ведущих IT-компаниях, чтобы помочь вам найти надежных партнеров, лучших специалистов и вдохновляющие проекты.
  </p>
  <p>
      На нашей платформе вы найдете компании, занимающиеся разработкой программного обеспечения, созданием чат-ботов, анализом данных, дизайном и многим другим. Мы верим, что технологии — это ключ к успеху, и IT-Sharing делает этот ключ доступным для всех.
  </p>
  <p>
      Наша миссия — сделать поиск IT-компаний максимально удобным и прозрачным. С IT-Sharing вы можете:
  </p>
  <ul>
      <li>Изучать профили компаний и их услуги.</li>
      <li>Сравнивать предложения и находить оптимальные решения для вашего бизнеса.</li>
      <li>Становиться частью сообщества, которое развивает цифровую экосистему.</li>
  </ul>
  <p>
      Присоединяйтесь к IT-Sharing и открывайте новые возможности в мире технологий.
  </p>
</div>
</div>
{% endblock %}