{% extends 'main/layout.html' %}

{% block content %}
<div class="Add-Company">
  <h2>Заказ от {{ order.user.username }}</h2>
  <p><strong>Компания:</strong> {{ order.company.title }}</p>
  <p><strong>Описание:</strong> {{ order.description }}</p>
  <p><strong>Срок выполнения:</strong> {{ order.deadline }}</p>
  <p><strong>Статус:</strong> 
    {{ order.status }}</p>
{% if order.company == user.company %}
    <form method="POST">
      {% csrf_token %}
        {{ form }}
        <div class="form-error">{{ form.errors }}</div>
      <button name="action" value="denied">Отказаться от заказа</button>
        <button name="action" value="accept">Выполнено</button>
    </form>
  {% endif %}
  </div>
  

  

{% endblock %}
