{% extends 'main/layout.html' %}

{% block content %}
<div class="Order-Container">
  <h2>Заказы для компании {{ company.title }}</h2>
  
  {% if orders %}
      {% for order in orders %}
      <div class="Order-Container-Inner">
          <a href="{% url 'order_detail' order.id %}">
            
              <h4>Заказ от {{ order.user.username }}</h4>
              <p><strong>Описание:</strong> {{ order.description }}</p>
              <p><strong>Срок выполнения:</strong> {{ order.deadline }}</p>
              <p><strong>Статус:</strong>
              {% if order.status == 'pending' %}
                Ожидает выполнения
              {% elif order.status == 'completed' %}
                Выполнен
              {% else %}
                Отказано
              {% endif %} </p>
            
        </a>
        </div>
      {% endfor %}
  {% else %}
    <p>У компании нет заказов.</p>
  {% endif %}
</div>
{% endblock %}


